body
{
  margin: 100px;
  background-image: url(https://raw.githubusercontent.com/Reycka/ISOS/refs/heads/Web-Branch/Fondo%20web.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  text-align: center;
}
h1{
  font-family:'Times New Roman', Times, serif;
  font-size:xx-large;
  text-align: center; 
  color: #8D6742
}
.Empresa{
  font-family:'Times New Roman', Times, serif;
  font-size: xx-large;
  color:#59381C;
}
.Description
{
  font-family:'Times New Roman', Times, serif;
  color: #BfBCBA;
  font-size:large;
}
.Referencias{
  text-align: center;
}
.Image{
  width: 100px;
  height: 100px;
}
