body {
  margin-top: 100px;
  margin-bottom:300px;
  margin-left: 350px;
  margin-right: 350px;
  background-image: url(https://github.com/Reycka/ISOS/blob/Web-Branch/assets_git/assets_web/Fondo%20web.png?raw=true);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.tab {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Centra los botones verticalmente */
  flex-wrap: wrap; /* Permite que los botones se envuelvan si es necesario */
}
.tablinks {
  align-items: center;
  width: 250px;
  background-color: black; /* Fondo negro */
  border: 2px solid grey; /* Borde gris */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar en línea */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.tablinks:hover {
  background-color: grey; /* Fondo gris al pasar el ratón por encima */
  color: black; /* Color del texto al pasar el ratón por encima */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea los elementos al principio */
}

.title-subtitle {
  display: flex;
  flex-direction: column; /* Coloca título y subtítulo uno debajo del otro */
  align-items: center; /* Alinea al centro */
  text-align: center; /* Alinea el texto al centro */
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 88px;
  color: #8D6742;
  margin: 0; /* Elimina el margen para alinear mejor */
  text-align: center;
}

.empresa {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #59381C;
  margin: 0; /* Elimina el margen para alinear mejor */
  text-align: center;
}

.description {
  font-family: 'Times New Roman', Times, serif;
  color: #BfBCBA;
  font-size: 40px;
  text-align: left; /* Alineado a la izquierda para el resto del texto */
}
.referencias {
  margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #BfBCBA;
    font-size: 35px;
    text-align:center;
}

.texto {
  margin-left: 30px ;
  font-family: 'Times New Roman', Times, serif;
  color: #BfBCBA;
  font-size: 30px;
  text-align: justify-all;
}

.image {
  width: 240px;
  height: auto;
}

.invisible { 
  display: none;
}
/*section{
  display: flex;
  width: 600;
  height: 430;
}
section img{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
section img:hover{
  cursor: crosshair;
  width: 300;
  opacity: 1;
  filter: contrast(110%);
}*/
.carrusel{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.imagenes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.img-carrusel{
  position: relative;
  margin-top: -150px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.85);
  height: auto;
  width: 1000px;
  border-radius: 15px;
  object-fit: cover;
}
.texto-carrusel {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(20px);
  background-color: black; 
  display: flex;
  flex-direction: column; /* Asegura que el texto esté debajo del título */
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 20px;
  width: 80%;
  text-align: center;
  margin-top: 20px;
  margin-left: -200px;
}

.texto-carrusel h3 {
  margin: 0;
  color: #8D6742;
  font-size: 27px;
}

.texto-carrusel p {
  margin: 0;
  color: #BfBCBA;
  font-size: 20px;
}

.imagenes .texto{
  width: 600px;
  height: 100px;
  transition: 1s;
}
.imagenes:hover .texto{
  transition: height 1s,transform 1s,background-color 1s;
  transform: translateY(-150px);
  height: 300px;
}
.imagenes:hover .texto p{
  transition: font-size 0s .2s linear;
  font-size: 23px;
  font-weight: 300;
  text-shadow:  0px 0px 10px #000000;
}
.puntos{
  display: flex;
  align-items: center;
  justify-content: center;
}
.puntos p{
  font-size: 100px;
  font-weight: 500;
  margin-top: -50px;
  color:#59381C;
}
.puntos .bold{
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  color:#8D6742;
}
.arrowleft, .arrowright { 
  margin: 250px;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%) scale(0.5); /* Reduce el tamaño de las flechas */
  cursor: pointer;
}

.arrowright {
  right: 20px; /* Ajusta la distancia de la flecha derecha a la imagen */
  margin-right: 350px;
  transform: translateY(-50%) scale(0.5) rotate(90deg); /* Reduce el tamaño y rota la flecha */
}

.arrowleft {
  left: 20px; /* Ajusta la distancia de la flecha izquierda a la imagen */
  margin-left: 350px;
  transform: translateY(-50%) scale(0.5) rotate(270deg); /* Reduce el tamaño y rota la flecha */
}

#juego { 
  margin-left:-20px;
  margin-right:-60px;
  width: 100%; 
  height: 90vh; /* Ajusta la altura del canvas */ 
  margin-bottom: 10px; /* Añade separación de la parte baja */ 
}